* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

ul {
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1334px;
    max-height: 100%;
    padding: 24px 156px;
    margin: auto;
}

.gallery-image {
    display: block;
    min-width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

.gallery-item:hover .gallery-image {
    transform: scale(1.1);
}